<h1><%= @blog_post.title %></h1>
<h3><%= @blog_post.body %></h3>

<br>
<%= link_to "Edit", edit_blog_post_path %>
<br>
<br>
<%= button_to "Delete", blog_post_path(@blog_post), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<br>
<br>
<br>
<%= link_to "Home", blog_posts_path %>

